* {
    border: 1px dashed grey;
}
body {
    padding: 0;
    margin: 2%;
}

.center-columns {
    width: 98;
    overflow: hidden;
    margin: auto;
}

.graph-section {
    width: 45%;
    float:left;
    height: 600px;
    overflow: scroll;
}

.three-products {
    width: 53%;
    float: right;
    height: 40%;
    margin: auto;
    
}

.image-box {
    display: inline-block;
    width: 32%;
    background-color: grey;
    max-height: 90%;
}

.images {
    height: auto;
    width: 100%;
}

.start-button {
    width: 53%;
    float: right;
    height: 40%;
    margin: auto;
}

.blurb {
    width: 53%;
    float: right;
    height: 40%;
    margin: auto;
}