/* 
*********colors*******
F2F4FF alice blue
F1DEDC champagne pink
808A9F roman silver
FFE4FA pink lace
FFC4EB classic rose
3CFF38 hover green color
*/


body {
    padding: 0;
    margin: 2%;
    background: radial-gradient(ellipse at top, #FFE4FA, transparent),
    radial-gradient(ellipse at bottom, #808A9F, transparent);
}

nav {
    width: 29%;
    float: right;
    background-color: #808A9F;
    border-radius: 200px 0px 200px 0px;
    -moz-border-radius: 200px 0px 200px 0px;
    -webkit-border-radius: 200px 0px 200px 0px;
    border: 5px solid #000000;
    box-shadow: 10px 10px 5px #808A9F;
    text-shadow: 2px 2px 5px #F2F4FF;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
  }
  
  li {
    float: right;
    border-right: #F2F4FF;
  }
  
  li a {
    width: 55px;
    display: block;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
    color: #F2F4FF;
    margin-right: 2%;
  }

  a:hover {
    text-shadow: 0 0 3px #3CFF38;
  }

header {    
    background-color: #808A9F;
    width: 25%;
    height: 150px;
    border-radius: 200px 10px 200px 10px;
    -moz-border-radius: 200px 10px 200px 10px;
    -webkit-border-radius: 200px 10px 200px 10px;
    border: 5px solid #000000;
    color: #FFE4FA;
    font-size: 36px;
    text-align: center;
    margin: 4%;
    box-shadow: 10px 10px 5px #808A9F;
}

header h1 {
    padding-bottom: 5%;
    margin-top: 5%;
    text-shadow: 2px 2px 5px #F2F4FF;
}

main {
    padding: 60px 30px;
    box-shadow: 10px 10px 247px -28px rgba(0,0,0,0.75);
    border-radius: 0px 200px 0px 200px;
    -moz-border-radius: 0px 200px 0px 200px;
    -webkit-border-radius: 0px 200px 0px 200px;
    border: 10px solid #000000;
}

.center-columns {
    width: 98;
    overflow: hidden;
    margin: auto;
    padding: 1%;
}

.graph-section {
    width: 45%;
    float:left;
    height: 600px;
    overflow: scroll;
}

.three-products {
    width: 53%;
    float: right;
    height: 250px;
    margin: auto;
    margin-bottom: 4%;
}

.image-box {
    display: inline-block;
    
    background-color: grey;
    height: 240px;
    box-shadow: 10px 10px 5px #808A9F;
    text-align: center; 
    
}

.images {
    height: 230px;
    width: 230px;
}

.button-wrapper {
    text-align: center;
}

.start-button {
    width: 200px;
    height: 40px;
    background-color: #808A9F;
    border-radius: 0px 200px 0px 200px;
    -moz-border-radius: 0px 200px 0px 200px;
    -webkit-border-radius: 0px 200px 0px 200px;
    border: 3px solid #383838;
    opacity: 0.5;
    transition: 0.3s;
    color: #FFE4FA;
    text-shadow: 2px 2px 5px #F2F4FF;
}

.start-button:hover {
    opacity: 1;
    text-shadow: 0 0 3px #3CFF38;

}

.blurb {
    width: 53%;
    float: right;
    height: 250px;
    margin: auto;
}

.blurb-text {
    padding: 45px;
    text-indent: 4%;
    font-size: 17px;
}

footer {
    background-color: #808A9F;
    width: 20%;
    height: 120px;
    text-align: center;
    border-radius: 200px 10px 200px 10px;
    -moz-border-radius: 200px 10px 200px 10px;
    -webkit-border-radius: 200px 10px 200px 10px;
    border: 5px solid #000000;
    float: right;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 10px 10px 5px #808A9F;

}
footer h2 {
    color: #FFE4FA;
    text-shadow: 2px 2px 5px #F2F4FF;
}

footer p {
    font-size: 12px;
    text-shadow: 2px 2px 5px #F2F4FF;
}

footer p:hover {
    transform: scale(2, 2);
    text-shadow: 0 0 3px #3CFF38;

}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}